@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  font-family: 'Cafe24Oneprettynight';
  font-size:1.7em;
  letter-spacing: 1px;
}

.coupon_add{
  margin-bottom: 80px;
  display: flex;
}
.coupon_flatadd{
  width: 49%;
  margin-right: 2%;
}
.coupon_percentadd{
  width: 49%;
}


.c_table{
  width: 100%;
  height: 300px;
  border-collapse:collapse;
  text-align: left;
  font-size:1.7em;
  letter-spacing: 1px;
}
.th{
  padding-left: 20px;
  font-size: 15px;
  width: 20%;
  font-weight: 500;
  border-bottom: 0.5px solid #D5D5D5;
  background-color: #F6F6F6;
}
.td{
  font-size: 15px;
  padding-left: 20px;
  border-bottom: 0.5px solid #D5D5D5;
}
.c_add{
  height: 20%;
}
.add{
  font-size: 1.5em;
  font-weight: 1000;
  margin-right: 25px;
}
.c_name{
  height: 20%;
}
.c_title{
  width: 15em;
}
.c_mini{
  height: 20%;
}
.cp_flat{
  height: 20%;
}
.c_date{
  height: 20%;
}

/*  사업자 등록증  */
.imgdiv{
  margin-bottom: 10px;
  text-align: center;
}
.null{
  margin-bottom: 10em;
  text-align: center;
  font-size: 1em;
  margin-top: 10em;
  letter-spacing: 1px;
}
.img{
  width: 550px;
  height: 700px;
}
.but{
  text-align: center;
}

.ad_bt{
  background-color: #476600;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Cafe24Oneprettynight';
}
.ad_bt:hover{
  opacity: 1
}

/*  사업자 등록증 끝 */

/*  포인트  */
.cusinfo{
  text-align: center;
  margin-top: 30px;
}
.pointinput{
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
.p_input{
  height: 1.9em;
  width: 10em;
  padding-right: 5px;
  text-align: right;
  font-size: 20px;
}
/*  포인트 끝 */
