/* --- 전체 틀 --- */
#total{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;
  align-content: flex-start;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  margin-bottom: 10px;
}
/* --- 전체 틀 끝 --- */

/* --- 이미지 전체틀 시작 --- */
.pd_image{
  width: 41%;
  background-color: #F6FFCC;
  margin-top: 30px;
  padding: 20px;
}
/* --- 이미지 전체틀 끝 --- */

/* --- 옵션 전체틀 시작 --- */
.pd_option{
  width: 50%;
  margin-top: 30px;
  padding: 20px;
}
.pd_basic{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.pd_name{
  width: 50%;
}
.star{
  width: 50%;
  text-align: right;
}
.pd_name{
  font-size: 25px;
}
.option_line{
  width: 100%;
  border-bottom: 0px;
  text-align: center;
}


.shop_basic{
  display: flex;
  flex-wrap: wrap;
}
.shop_name{
  width: 40%;
  text-align: left;
}
.shop_lo{
  width: 60%;
  text-align: right;
}
.pd_price{
  clear: both;
  width: 100%;
  font-size: 30px;
  text-align: right;
  margin-top: 50px;
}


.pd_deliver{
  display: flex;
  margin-top: 30px;
  flex-wrap: nowrap;
}
.pd_deliver1{
  width: 33%;
  text-align: center;
  border-right: 1px solid;
}
.pd_deliver2{
  width: 33%;
  text-align: center;
  border-right: 1px solid;
}
.pd_deliver3{
  width: 33%;
  text-align: center;
}
.del_text{
  font-size: 17px;
  line-height: 200%
}

.options{
  text-align: center;
  margin-top: 20px;
}
.select_option{
  width: 90%;
  height: 30px;
  margin-top: 20px;
}


.pd_pay{
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
}
.total_price_text{
  width: 20%;
}
.total_price{
  width: 55%;
  text-align: right;
}
.order_bt{
  width: 25%;
  text-align: right;
}
.order{
  width: 70px;
  height: 30px;
}

/* ------- 옵션 전체틀 끝 ------- */

/* ------ 상품설명 디테일 시작 ------*/
.pd_detail{
  width: 96%;
  background-color: #E8D9FF;
  padding: 20px;
}
.blind{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}


.detail_tabs{
  margin: 40px 0 30px;
  border-bottom: 1px solid #FFB9B9;
  text-align: center;
  vertical-align: middle;
}
.tab_table{
  display: table;
  table-layout: fixed;
  width: 100%;
}
.detail_tab{
  display: table-cell;
}
.qna_tab{
  display: table-cell;
}
.purchase_review_tab{
  display: table-cell;
}
.claim_info_tab{
  display: table-cell;
}
.detail_tab_link{
  position: relative;
  background-color: #FFEFEF;
  color: #4E0000;
  display: block;
  height: 42px;
  line-height: 43px;
}
.purchase_review_tab_link{
  position: relative;
  background-color: #FFEFEF;
  color: #4E0000;
  display: block;
  height: 42px;
  line-height: 43px;
}
.qna_tab_link{
  position: relative;
  background-color: #FFEFEF;
  color: #4E0000;
  display: block;
  height: 42px;
  line-height: 43px;
}
.claim_info_tab_link{
  position: relative;
  background-color: #FFEFEF;
  color: #4E0000;
  display: block;
  height: 42px;
  line-height: 43px;
}
.qna_tab_link::before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFCBCB;
}
.purchase_review_tab_link::before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFCBCB;
}
.claim_info_tab_link::before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFCBCB;
}


.reviews{
  width: 100%;
  margin-top: 30px;
}
.review_title{
  position: relative;
  margin-top:50px;
  margin-bottom: 20px;
  border-bottom: 2px solid #FFB9B9;
}
.user_review{
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #FFDDDD;
}
.review_one{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.review_cell{
  display: table-cell;
  width: 60%;
}
.user_profile{
  float: left;
  border: 1px solid;
  width : 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 12px 0 20px;
  overflow: hidden;
}
.pro_image{
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.review_text{
  float: left;
  padding-bottom: 10px;
}
.stars{
  display: inline-block;
  vertical-align: top;
}
.status_user{
  font-size: 13px;
}
.text_info::after{
  content:'';
  display: inline-block;
  width: 2px;
  height: 2px;
  vertical-align: top;
  margin: 6px 5px 0 4px;
}
.user_write{
  padding-top: 10px;
  margin-bottom: 20px;
}
.review_image{
  display: table-cell;
  width: 25%;
  vertical-align: middle;
}
.review_good{
  display: table-cell;
  width: 15%;
  vertical-align: middle;
}

.pd_qna{
  width: 100%;
  margin-top: 30px;
}
.qna_title{
  position: relative;
  margin: 60px 0 30px;
  border-bottom: 2px solid #FFB9B9;
}



.pd_component{
  width: 100%;
  margin-top: 30px;
}
.comp_title{
  position: relative;
  margin: 60px 0 30px;
  border-bottom: 2px solid #FFB9B9;
}
