/* --- 전체 틀 --- */
#total{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;
  align-content: flex-start;
}
/* --- 전체 틀 끝 --- */

/* --- 이미지 전체틀 시작 --- */
.pd_image{
  width: 41%;
  background-color: #E4F7BA;
  margin-top: 30px;
  padding: 20px;
}
/* --- 이미지 전체틀 끝 --- */

/* --- 옵션 전체틀 시작 --- */
.pd_option{
  width: 50%;
  background-color: #D4F4FA;
  margin-top: 30px;
  padding: 20px;
}
.pd_basic{
  display: flex;
  flex-wrap: nowrap;
}
.pd_name{
  width: 40%;
}
.star{
  width: 60%;
}
.pd_name{
  font-size: 25px;
}
hr{
  width: 100%;
  border-bottom: 0px;
  text-align: center;
}
.shop_basic{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.shop_name{
  width: 70%;
  text-align: left;
}
.shop_location{ /* space-between으로 하긴했지만
   이 class자체가 전혀 먹지 않는다 */
  width: 30%;
  text-align: right;
}
.pd_deliver1{
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid;
}
.pd_deliver2{
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid;
}
.pd_deliver3{
  float: left;
  width: 33%;
  text-align: center;
}
.total_price_text{
  float: left;
  width: 20%;
}
.total_price{
  float: left;
  width: 60%;
  text-align: right;
}
.order_bt{
  float: left;
  width: 15%;
  text-align: center;
}
.select_option{
  width: 80%;
  height: 30px;
  text-align: center;
}
/* ------- 옵션 전체틀 끝 ------- */

/* ------ 상품설명 디테일 시작 ------*/
.pd_detail{
  width: 100%;
  background-color: #E8D9FF;
  margin-top: 30px;
  padding: 30px;
}
