@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  /* font-family: 'Cafe24Oneprettynight'; */
}


.myinfo {
  width: 60%;
  margin: 0 auto;
}
.mytitle{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 2px;
  margin-right: 20px;
}
/* ----- 내 정보 ----- */
.privacy{
  width: 90%;
  margin-top: 40px;
  font-size: 1.1em;
  letter-spacing: 1px;
}

#tablewrap{
  width: 55%;
}

#shopinfo{
  width: 100%;
  position: relative;
  margin-left: 5%;
  border-collapse: collapse;
}

#postcode{
  margin-left: 20px;
}

th.th1{
  background-color: #f9f9f9;
  text-align: center;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
td{
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
div.tdcell{
  margin-left: 3%;
}
.pw{
  width: 30%;
  height: 15px;
  padding: 5px;
}

#p_num{
  margin-right: 60%;
  margin-left: 0.75rem;
}

#modiemail{
  margin-right: 80%;
  margin-top: 2%;
}
#email{
  margin-right: 60%;
  margin-left: 0.75rem;
}

#nadress{
  margin-left: 5%;
  margin-bottom: 50px;
}

div.delivery_wrap2{
  margin-left: 85px;
}
/* ----- 내 정보 끝 ----- */
/* ----- 내 지갑 ----- */
div.walletwrap{
  width: 100%;
  font-size: 1.1em;
}

div.mymoney{
  width: 100%;
  font-size: 1.3em;
  letter-spacing: 1px;
}
div.mypoint{
  margin-top: 15px;
  width: 100%;
  font-size: 1.3em;
  letter-spacing: 1px;
}
.bt_ch{
  background-color: #476600;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 32px;
  text-align: center;
  margin-left: 20px;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.bt_ch:hover{
  opacity: 1
}

.money3{
  background-color: #476600;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 32px;
  text-align: center;
  margin-left: 20px;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.money4{
  background-color: pink;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/* ----- 내 지갑 끝 ----- */
/* ----- 나의 주문현황 시작 ----- */
div.myorder{
  margin-top: 5em;
  letter-spacing: 1px;
  font-size: 1.1em;
}
.ordertable{
  margin-top: 35px;
}
table.order{
  text-align: center;
  width: 100%;
  border: 0 solid #444444;
  border-collapse: collapse;
}
.p_tr{
  color: #212121;
  background-color: #C8DBCD;
  opacity: 0.8;
  border-bottom: 1px solid #8C8C8C;
}

/* ----- 나의 주문현황 끝 ----- */
/* ----- 나의 후기 ----- */
div.myreview{
  margin-top: 5em;
  font-size: 1.1em;
  letter-spacing: 1px;
}
table.table_review{
  width: 100%;
  border-collapse: collapse;
}
.r_tr{
  height: 40px;
  border-bottom: 1px solid #EAEAEA;
}
.r_pname{
  background-color: #C8DBCD;
  width: 30%;
  color: #212121;
  opacity: 0.8;
}
.r_con{
  background-color: #C8DBCD;
  width: 70%;
  color: #212121;
  opacity: 0.8;
}
.r_td{
  padding-left: 20px;
}
/* ----- 나의 후기 끝 ----- */
/* ----- 충전 팝업창  ----- */
div.current{
  font-size: 30px;
  width: 70%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid red;
}
/* ----- 충전 팝업창 끝 ----- */

/* ----- mypoint ----- */
.p_header{
  width: 100%;
  height: 100px;
  text-align: center;
}
.titleimg{
  width: 12rem;
}
.p_history{
  margin-top: 10px;
  padding: 10px;
}
.p_title{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 4em;
}

.points{
  width: 100%;
}
.hi_title{
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 5px;
}
.his_title{
  font-size: 1.6em;
}
.botbt{
  padding-left: 5px;
  width: 0.7em;
}
.point_history{
  width: 560px;
  flex-wrap: nowrap;
  display: flex;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.3em;
  padding-left: 5px;
}
.h_title{
  width: 35%;
}
.h_date{
  margin-top: 5px;
  font-size: 0.8em;
}
.h_ono{
  width: 43%;
  padding: 10px;
}
.h_point{
  text-align: right;
  width: 22%;
  padding: 10px;
}


.p_detail{
  display: none;
  width: 100%;
}
.p_detail_show{
  display: table-row;
  background-color: #F7EDDA;
}
/* ----- mypoint 끝 ----- */
