.couponwrap{
  width: 900px;
  margin: 0 auto;
  height: 40em;
}

.supplement_coupon{
  height: 209px;
  margin-bottom: 22px;
}


.supplement_cnts{
  width: 299px;
  padding-top: 31px;
  margin-left: 470px;
}
.coupon_list{
  position: relative;
  z-index: 1;
  width: 100%;
}

table{
  /* border-collapse: collapse;
  border-spacing: 0; */
  color: #676767;
  /* margin-bottom: 50px; */
  /* text-align: center; */
}

a{
  color: black;
}

h4{
  margin-top: 30px;
  margin-bottom: 30px;
}

.supplement_cnts2{
  width: 299px;
}

dt{
  margin-bottom: 50px;
}

img#couponimg{
  position: absolute;
  margin-left: 10px;
  border: 1px solid #bdbdbd;
  background-color: #bdbdbd;
  border-radius: 13px;
}

table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  width: 100%;

}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  text-align: center;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
