.couponwrap{
  width: 60%;
  margin: 0 auto;
  min-height: 50em;
  margin-top: 5em;
  font-size: 1.1em;
}
.mytitle{
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
.coinfo{
  font-size: 1.1em;
}
.supplement_coupon{
  height: 209px;
  margin-bottom: 22px;
  margin-top: 1em;
  margin-bottom: 3em;
}


.supplement_cnts{
  padding-top: 50px;
  margin-left: 470px;
}
.hi{
  float: left;
  width: 50%;
}
.hi1{
  float: left;
  width: 50%;
}

.coupon_list{
  margin-top: 7em;
}

.co_bt{
  background-color: #476600;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 7em;
  height: 2em;
  font-size: 1em;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Cafe24Oneprettynight';
}
.co_bt:hover{
  opacity: 1
}
.coupon_text{
  color: white;
}

table{
  /* border-collapse: collapse;
  border-spacing: 0; */
  color: #676767;
  /* margin-bottom: 50px; */
  /* text-align: center; */
}

a{
  color: black;
}

dt{
  margin-bottom: 50px;
  width: 100%;
}

img#couponimg{
  position: absolute;
  margin-left: 10px;
  border: 1px solid #bdbdbd;
  background-color: #bdbdbd;
  border-radius: 13px;
}

table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  width: 100%;

}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  text-align: center;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
