@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  /* font-family: 'Cafe24Oneprettynight'; */
}
/* 이용약관 */
.terms{
  margin: 50px auto;
  width: 50%;
  font-family: 'Cafe24Oneprettynight';
  letter-spacing: 1px;
}
.title{
  text-align: center;
  margin-bottom: 80px;
}
textarea{
  width: 100%;
  height: 350px;
  resize: none;
  font-size: 1.1em;
  line-height: 1.8em;
  padding: 1%;
}
.box{
  text-align: center;
  margin-bottom: 50px;
}
/* 이용약관 끝 */

/* 개인정보 취급방침 */
.privacy{
  margin: 50px auto;
  width: 50%;
  font-family: 'Cafe24Oneprettynight';
  letter-spacing: 1px;
}
/* 개인정보 취급방침 끝 */

/* 입점문의 */
.inquiries{
  margin: 50px auto;
  height: 450px;
  width: 50%;
  font-family: 'Cafe24Oneprettynight';
  letter-spacing: 1px;
}
.infomation{
  background-color: #EAEAEA;
  line-height: 2em;
  font-size: 1.2em;
}
/* 입점문의 끝 */

/* 이용 가이드 */
div.manual_total{
  width: 900px;
  margin: 3em auto;
  font-family: 'Cafe24Oneprettynight';
  letter-spacing: 1px;
}
.register_manual, .invoice_manual, .product_manual{
  margin-bottom: 30px;
  width: 900px;
  height: 700px;
}
.register_manual_h, .invoice_manual_h, .product_manual_h{
  margin-bottom: 7em;
}

.detail_tabs{
  margin: 40px 0 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.tab_table{
  display: table;
  table-layout: fixed;
  width: 100%;
}
.register_tab{
  display: table-cell;
}
.invoice_tab{
  display: table-cell;
}
.product_tab{
  display: table-cell;
}
.register_link{
  position: relative;
  background-color: #FFEFEF;
  color: #1F0000;
  font-weight: bold;
  display: block;
  height: 42px;
  line-height: 43px;
}
.invoice_tab_link{
  position: relative;
  background-color: #FFEFEF;
  color: #1F0000;
  font-weight: bold;
  display: block;
  height: 42px;
  line-height: 43px;
}
.product_link{
  position: relative;
  background-color: #FFEFEF;
  color: #1F0000;
  font-weight: bold;
  display: block;
  height: 42px;
  line-height: 43px;
}
.invoice_tab_link::before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFCBCB;
}
.product_link::before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFCBCB;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*

img.invoice_manual{
padding:28px;
margin-left: 275px;
}
img.product_manual{
padding:28px;
margin-left: 275px;
} */
