/* 이용약관 */
.terms{
  margin: 50px auto;
  width: 50%;
  font-family:'Nanum Gothic Coding', monospace;
}
.title{
  text-align: center;
  margin-bottom: 80px;
}
textarea{
  width: 100%;
  height: 350px;
  resize: none;
  font-size: 1.1em;
  line-height: 1.8em;
  padding: 1%;
}
.box{
  text-align: center;
  margin-bottom: 50px;
}
/* 이용약관 끝 */

/* 개인정보 취급방침 */
.privacy{
  margin: 50px auto;
  width: 50%;
  font-family:'Nanum Gothic Coding', monospace;
}
/* 개인정보 취급방침 끝 */

/* 입점문의 */
.inquiries{
  margin: 50px auto;
  height: 450px;
  width: 50%;
  font-family:'Nanum Gothic Coding', monospace;
}
.infomation{
  background-color: #EAEAEA;
  line-height: 2em;
  font-size: 1.2em;
}
/* 입점문의 끝 */
