 /* 곽승지 css 무단 수정 금지*/
 /* 화면헤더 */
 a{
   text-decoration: none;
   color: black;
 }
 a:hover{
   color: #9c9c9c;
   text-decoration: underline;
 }
.headersearch{
  display: inline-block;
  border: 3px solid pink;
}
#headwrap{
  overflow: hidden;
  min-width: 1160px;
}

.hr-line{
border: 5px solid pink;
/* width: 955px; */
padding: 0 30px;
position: relative;
width: 1130px;
margin: 0 auto;
}
#line{
  width: 70%;
margin: 0 auto;
}


body{
  min-width: 1260px;
}


.textmiddle{
  text-align: center;
}




.search-button{
height: 40px;
width: 60px;
white-space : nowrap;
display: inline-block;
background-color:
padding: 0;
border: none;
background: none;
outline: none;
}
.btn{
  width: 60px;
  height: 40px;
  display: inline-block;
}
#searchbar{
  text-indent: 20px;
  width: 400px;
  height: 40px;
  display: inline-block;
  border: none;
   outline: none;
}


.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 20px;
	margin: 8px auto;
  padding-bottom: 10px;
  width: 1130px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;

}
.topheader
{
height: 200px;

}
li
{
list-style-type: none;
display: inline-block;

}
ul
{
  margin: 0px;
  padding-left: 0px;
}

#block_container
{
margin: 0px auto;
width: 1130px;
  height: 90%;
display: block;
position: relative;
}
#block2{
position: absolute;
top:55%;
left: 300px;

}
#block1{
top:35%;
position: absolute;
left: 200px;
}
#header{
  position: relative;
  width: 100%;
  height: 105px;

}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #9c9c9c;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

  display: inline-block;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #9c9c9c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FFC0CB; color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #FFC0CB;
  border-bottom: 1px solid;
}
#dropdown-menu{
  white-space : nowrap;
display: table;
border:
position: relative;
width: 1130px;
height: 54px;
margin: 0 auto;
padding: 0 30px;
text-align: center;
}

/* 화면 하단부 영역 */
footer{
border-top: 3px solid #FFDDDD;
text-align: center;
padding-bottom: 20px;
padding-top: 40px;
height: 100px;
background-color: #FFDDDD;
}
