@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

    {
    font-family: Nanum Gothic;
}
img{
  opacity: 70%;
}
.shopname {
    width: 500px;
    float: left;
}

.shopimg {
    width: 500px;
    float: right;
}

.information {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.myinfo {
    width: 60%;
    margin: 0 auto;
}

.show {
    display: block;
}

.privacy {
    text-align: center;
}

.btn {
    margin: 0 85%;
    cursor: pointer;
    margin-bottom: 50px;
}

.quickbuttonwrap {
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 300px;
    display: inline-block;
}

.quickbutton {
    width: 45%;
    margin: 0 auto;
    float: left;
    height: 50%;
    position: relative;
    cursor: pointer;
}

.quickgroup {
    position: relative;
    display: inline-block;
}

.innerbutton {
    top: 40px;
    left: 25%;
    width: 100%;
    position: absolute;
}
.questiontable{
  border-collapse: collapse;
  margin-bottom: 50px;
}

th.thinfo{
  background-color: pink;
}
nav{
  border: solid 1px gray;
display: inline-block;
width: 24px;
height: 24px;
border-radius: 2px;
color: gray;
margin-bottom: 50px;
}
.tablespace5{
  margin-bottom: 10px;
}
/*패널*/
.tabContainer{
    width: 100%;
    height: 350px;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: left;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
    padding-top: 20px;
}
.list_item2{
  position: relative;
  display: inline-block;
  width: 40%;
}
.box_information{
  text-align: center;
}
.containerbox{
  width: 100%;
  background-color: #eee;
  margin: 0 auto;
}
.paybox1{
  width: 100%;
}
.paybox2{
  position:relative;
  width: auto;
}

th.th1{
  width:  20%;
}

table.table1{
  width: 100%;
}

#modinum{
 margin-right: 80%;
 margin-top: 2%;
}
 #modiemail{
  margin-right: 80%;
  margin-top: 2%;
}
#email{
  margin-right: 60%;
}
#p_num{
  margin-right: 60%;
}
