@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);{
  font-family: Nanum Gothic;
}

.menu4{
  border-width: 5px;
  border-style: solid;
  border-color: pink;
}
.menu5{
  height: 500px;
  border-width: 5px;
  border-style: solid;
  border-color: pink;
}
.shopname{
  width:500px;
  float: left;
}
.shopimg{
  width: 500px;
  float: right;
}
.information{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.myinfo{
  width: 50%;
  margin: 0 auto;
}
.show {
  display: block;
}
.privacy{
  text-align: center;
}
