/* 수정시 소현에게 */

#all{
  margin:0 auto;
  border: 1px solid;
  width : 450px;
  border-radius: 25px;
  padding: 40px;
  background-color: #FFFFFF;
  border-style: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
}
body {
  background-color: #FFDDDD;
}
p{
  padding-top: 5px;
  text-align: center;
}
.text{
  padding-bottom:20px;
}
hr{
  width: 450px;
  border-bottom: 0px;
  text-align: center;
}
.text1{
  font-size: 22px;
  padding: 20px;
}
.text2{
  font-size: 14px;
  padding-bottom: 30px;
  border:1px solid;
  border-style: hidden;
  width: 350px;
  margin: 0 auto;
}
.find_input{ //input 각각 style
  width:200px;
  height:23px;
  font-size: 15px;
}
.character{ //이름, 전화번호 글씨
  float: left;
  text-align: right;
  font-size: 18px;
}
.window{ //input 전체
  float: right;
  text-align: left;
}
/* -------------------- */


/* ----- find_id ------ */
.under{ //홈, 비밀번호 버튼 전체 class
  clear: both;
}
.find_id {
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  height: 350px;
}
/* -------------------- */
/* ----- find_pw ------ */
.find_pw{
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  height: 350px;
}
/* -------------------- */
/* ----- find_pw_way ------ */
.find_pw_way{
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  height: 350px;
}
/* -------------------- */
/* ----- pw_reset ------ */
.pw_reset{
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  height: 350px;
}
.my_id{ //내 아이디 불러오는 창
  border: 1px solid;
}
/* -------------------- */


/* -------- 로그인 --------- */
.login {
  padding: 30px;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  height: 350px;
}
.lg{
  width:350px;
  height:35px;
  font-size:23px;
}
.go{
  text-align: right;
}
.lg_bt{
  width: 100px;
  height: 30px;
  font-size: 15px;
  text-align: center;
}
.user_sign_bt{
  width: 350px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  background-color:#FFA7A7;
}
.sel_sign_bt{
  width: 350px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background-color:#B2CCFF;
}
.shop_title{
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
.shop_info{
  width:350px;
  height:30px;
  font-size:20px;
}
.paragraph{
  padding-bottom: 20px;
}
