/* 수정시 소현에게 */
@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }

#all{
  margin:5% auto;
  border: 1px solid;
  width : 450px;
  border-radius: 25px;
  padding: 35px;
  background-color: #FFFFFF;
  border-style: hidden;
  flex-wrap: nowrap;
  align-items: flex-start;
  opacity: 0.8;
  font-family: 'Kanit', 'Cafe24Oneprettynight';
}
body {
  background-image: url(https://images.unsplash.com/photo-1471899236350-e3016bf1e69e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-repeat : no-repeat;
  background-size : cover;
  letter-spacing: 1px;
}
p{
  padding-top: 5px;
  text-align: center;
}
.text{
  padding-bottom:20px;
  font-size: 40px;
}
hr{
  width: 100%;
  border-bottom: 0px;
  text-align: center;
}
.text1{
  font-size: 22px;
  padding: 20px;
}
.text2{
  font-size: 10px;
  padding-bottom: 30px;
  border:1px solid;
  border-style: hidden;
  width: 350px;
  margin: 0 auto;
}
.find_input{
  width:200px;
  height:23px;
  font-size: 15px;
}
.character{
  float: left;
  text-align: right;
  font-size: 18px;
}
.window{
  float: right;
  text-align: left;
}
a:link{
  text-decoration: none; color:#003E00;
}
a:visited{
  text-decoration: none; color:#003E00;
}
a:active{
  text-decoration: none; color:#003E00;
}
a:hover{
  text-decoration: none; color:#003E00;
}
.bottom{
  float: right;
  text-align: right;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.home{
  float: left;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* -------------------- */


/* -------- 로그인 --------- */
.login {
  padding: 25px;
  text-align: center;
  /*border: 1px solid;
  border-radius: 25px;*/
  height: 330px;
}
.lg{
  width:90%;
  height:35px;
  font-size:23px;
  padding: 5px;
}
.go{
  text-align: right;
  font-size: 1.2em;
}
/* .lg_bt{
width: 100px;
height: 30px;
font-size: 15px;
text-align: center;
} */
.lg_bt{
  background-color: #476600;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
}
.lg_bt:hover{
  opacity: 1
}

.user_sign_bt{
  width: 350px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  background-color:#FFA7A7;
}
.sel_sign_bt{
  width: 350px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background-color:#B2CCFF;
}
.shop_title{
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
.shop_info{
  width:350px;
  height:30px;
  font-size:20px;
}
.paragraph{
  padding-bottom: 20px;
}
.check_div{
  margin-top: 10px;
}
