/* 곽승지 */
/* main.balde.php에 들어가는 css입니다. */
@font-face { font-family: 'Bazzi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Handon3gyeopsal300g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  font-family: 'Cafe24Oneprettynight';
}

.swiper-container {
  width: 1100px;
  height: 600px;
  margin: 0 auto;
}

.swiper-slide {
  width: 260px;
  font-size: 18px;
}


.image-in-container{
  border-top: 1px solid #d9d9d9;
}
.container-wrap{
  width: 900px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.container-wrapping{
  position: relative;
  width: 100%;
  margin: 0px auto;
  height: 600px;
}
.image-in-price{
  /* padding-top: 10px; */
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: right;

}
.container-image{
  float: left;
  width: 33.3%;
  height: 50%;
  position: relative;
  overflow: hidden;

}
.image{
  width: 90%;
  height: 90%;
  float: left;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 hsla(0,0%,86.3%,.3);
  background-color: #f8f9fb;
}
.image-in{
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(100%);
  cursor: pointer;
}
.image-in:hover{
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.imagewrap{
  width: 270px;
  height: 150px;
}
.imagewrap img{
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  width: 100%;
  height: 100%;
}
.image-in-post{
  color:#b09393;
  font-size: 1rem;
  width: 90%;
  /* padding-top: 5px; */
  padding:10px;
  margin: 0 auto;
  /* padding-bottom: 5px; */
}
.image-in-bottom{
  color: #000;
  font-size: 1.3rem;
  font-weight: 400;
  position: relative;
  width: 90%;
  margin: 10px auto;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  /* height: 14px; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-in-star{
  width: 90%;
  margin: 0 auto;
  padding: 6px 0px;
}

.image-in-font{
  font-size: 12px;
  overflow: hidden;
}
/* jQuery 평점 구문 */
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
  font-size:16px;
  letter-spacing:0;
  display:inline-block;
  color:#ccc;
  text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#ffc801;}
/* main.balde.php에 들어가는 css 끝나는 곳 입니다. */

.page-item{
  display: inline-block;
  padding: 2px;
}
.pagination{
  text-align: center;
}


/* 인기 게시물 css */
div.hot-image{
  width:90%;
}
div.hot-image-in{

}
img.hot-imagewrap{
  width:200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 10px;
}
div.hot-image-in-font{
  text-align: center;
  margin-left:17px;
}
div.hot-container-image{
  float: left;
  /* width: 33.3%; */
  margin:auto 10px;
  height: 50%;
  position: relative;
  overflow: hidden;
}
div.hot-image-in-price{
  margin-top:10px;
  font-size: 25px;
}
div.hot_div{
  background-color: #dedede;
  /* height: 707px; */
  padding:25px;
  margin-top:5em;
}
