.qna_total{
  margin: 4em auto;
  width: 60%;
}
.mytitle{
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 2px;
}
.frequently{
  margin-top: 50px;
  letter-spacing: 1px;
}
.product-question-btn{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #dadada;
}
div.qna-product-btn{
  height: 40px;
  margin-top: 10px;
  text-align: right;
  width: 100%;
}
table.qna-table{
  width: 100%;
  border-top: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 1.1em;;
  font-weight: normal;
}
tr{
  height: 40px;
}
tr th{
  color: #212121;
  background-color: #C8DBCD;
  opacity: 0.8;
  border-bottom: 1px solid #e5e5e5;
  font-weight: normal;
  height: 30px;
}
tr td{
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  height: 35px;
}
td.qna-index{
  width: 15%;
}
td.qna-content{
  width: 50%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
td.qna-condition{
  width: 10%;
}
td.qna-writer{
  width: 10%;
}
td.qna-date{
  width: 15%;
}
div#qna-inquiry1{
  margin: 0 auto;
  /* display: none; */
  margin-top: 20px;
  margin-bottom: 20px;
}
div.faq_an{
  display: none;
}
div.faq_an_show{
  display: table-row;
}
div.bottom-btn{
  text-align: right;
}
button.qna-submit-btn{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #666;
  width: 83.675px;
  background-color: #666;
  color: white;
}
button.qna-submit-cancel-btn
{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #dadada;
  width: 83.675px;
}
<<<<<<< HEAD
=======
.frequently-qna{
  width: 70%;

  margin: 0 auto;
}
.frequently{
  position: relative;
  width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}


ul li{
  list-style-type: none;
  display: inline;
  /* margin-left: 20px; */
}
.page-item{
display: inline-block;
}
.pagination{
  text-align: center;
}
/* @media (max-width: /* write what you need, for me it's 560px */) {
    ul.pagination li:not(.show-mobile) {
        display: none;
    }
} */
>>>>>>> dd34d6df4c9873d467f4b23bcc52fe741d4595d7
