div.myoderlist-wrap{
  height:70em;
  margin-bottom: 30px;
}
input.num{
  width:90%;
}
div.orderlist-bottom{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
button.sendmessage{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #dadada;
  width: 83.675px;
}
button.ordercheck{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #dadada;
  width: 83.675px;
}
.sellerorderlist{
  width: 90%;
  margin: 0 auto;
}
.orderspace{
  width: 3%;
}
.ordercount{
  width: 6%;
}
.orderblink{
  width: 8%;
}
.orderpicture{
  width: 140px;
  height: 140px;
}
.myorderlist{
  width: 1130px;
  margin: 0 auto;
  padding: 0 30px;
  /* border: 5px solid pink; */
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
/* td{

width: 10%;
} */

tr{
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.myorderlist-infor{

  margin: 0 auto;
  text-align: center;
}
th.title{
  background-color: #f5f5f5;
  font-weight: normal;
  border-top: 1px solid gray;
  /* width : 60px; */
}

td#p_name{
  /* width: 15%; */
}
td#date{
  width: 5%;
}
/* td#pm_status{
  font-size:15px;
}
td#d_status{
  padding :
} */
table#myTable{
  font-size:12px;
}
