@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
  font-family: 'Cafe24Oneprettynight';
}

div.myoderlist-wrap{
  height:80em;
  width:85em;
  margin-bottom: 30px;
  margin: 0 auto;
}
input.num{
  width:90%;
}
div.orderlist-bottom{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
button.sendmessage{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #dadada;
  width: 83.675px;
}
button.ordercheck{
  height: 40px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border: 1px solid #dadada;
  width: 83.675px;
}
.sellerorderlist{
  width: 90%;
  margin: 65px auto;
}
.orderspace{
  width: 3%;
}
.ordercount{
  width: 6%;
}
.orderblink{
  width: 8%;
}
.orderpicture{
  /* width: 140px; */
  height: 140px;
  padding: 0 0 0 9em;
}
.myorderlist{
  /* width: 1130px; */
  margin: 0 auto;
  padding: 0 30px;
  /* border: 5px solid pink; */
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
/* td{

width: 10%;
} */

tr{
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.myorderlist-infor{

  margin: 0 auto;
  text-align: center;
}
/* th.title{
background-color: #f5f5f5;
font-weight: normal;
border-top: 1px solid gray;
/* width : 60px; }*/


td#p_name{
  /* width: 15%; */
}
td#date{
  width: 5%;
}
/* td#pm_status{
font-size:15px;
}
td#d_status{
padding :
} */
table#myTable{
  font-size:13px;
}

/* 디자인 */
table.order_table{
  border-top: 1px solid #e5e5e5;
}
tr.p_tr{
  color:#212121;
  background-color: #CBDBCD;
  opacity:0.8;
  border-bottom: 1px solid #8C8C8C;
}
td.order_list{
  font-weight: 700;
  font-size:17px;
}
td.order_cnt{
  font-size:17px;
}
/*상단 주문관리*/
.order_line{
  /* width: 955px; */
  padding: 0 30px;
  position: relative;
  /* width: 1130px; */
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 8px;
}
div.mytitle{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 2px;
  margin-right: 20px;
}
#tbody{
  background: gray;
}
tr{
  font-size:15px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 9px;
  }
