/* 어지수 */
body{
  min-width: 1260px;
  margin: 0px;
}

/**/

div.wrapping{
  height: 1000px;
  background:#ECE4E2;
}

/*head*/
div.topheader{
  height: 150px;
  background-color: #FCD3D1;
  position : relative;
  margin-bottom: 20px;
}

h1#title{
  margin:0;
  font-family: "바탕";
  position : absolute;
  top:30%;
  left:3%;
}

div.text{
display: block;
border-bottom: 2px solid #ffb0b0;
position: relative;
width: 60%;
margin: 0 auto;
padding-bottom: 15px;
}

span.title{
  font-weight: bold;
  font-size: 24px;
}

.titlepage{
  letter-spacing: -1px;
  height: 17px;
  line-height: 24px;
}

.page-sorting{
  float: right;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

span.current-page{
  color: red;
}

div.containerbox{
  position: relative;
  float: left;
  width: 50%;
  margin-top: 30px;
}

hr#textline{
  border:solid 2px #f27979;
  width:60%;
  margin-bottom: 30px;
}

input.inputtext{
  height:14px;
  padding:10px;
}

div.orderbox{
    position: absolute;
    width: 300px;
    margin: 0 auto;
    border: 2px solid #333;
    background-color: #fff;
    margin-left: 110%;
    border-radius: 2px;
}

div.paybox{
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

div.payresult{
    text-align: center;
}

#paypay{ border-top: 1px solid black;
}

table.tablebox{
  margin-bottom: 35px;
}

div.detail{
  color: red;
  margin-bottom: 70px;
  margin-left: 100px;
  font-size: 7px;
}

div.ordertable{
  margin-bottom: 100px;
}
div.infobox{
  position:absolute;
  width: 350px;
  margin-left: 50%;
  height: 300px;
}

div.customerbox{
  border: solid 1px #ebebeb;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 3px 1px 1px gray;
  border-radius: 2px;
}

div.customerbox2{
    border: solid 1px #ebebeb;
    border-radius: 2px;
    background-color: #fff;
    line-height: 2.5;
    box-shadow: 3px 1px 1px gray;
    position: relative;
}

form.info{
  padding: 10px;
  display: block;
  position: relative;
  text-align: center;
}
