/* =================== payment -- 어지수 , 정경진 =================== */
body{

}
h1.titles {
  margin:0;
}

li{
  list-style: none;
}

div.wrapping{
  background:#ffffff;
  position: relative;
  display: inline-block;
  width: 100%;
}

div.groupbox{
  width: 800px;
  margin:0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

/*head*/
div.topheader{
  height: 150px;
  background-color: #262626;
  position : relative;
  margin-bottom: 20px;

}

a#title{
  margin:0;
  font-family: "바탕";
  font-size:40px;
  position : absolute;
  top:30%;
  left:3%;
  color: #fcfcfc;
}

div.text{
  display: block;
  border-bottom: 2px solid #fc9f9f;
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

span.title{
  font-weight: bold;
  font-size: 24px;
}

.titlepage{
  letter-spacing: -1px;
  height: 17px;
  line-height: 24px;
}

.page-sorting{
  float: right;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

span.current-page{
  color: red;
}
img.card{
  padding-top: 10px;
}

div.containerbox{
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: inline-block;

}

input.inputtext{
  margin-left: 30px;
  width: 15em;
}

table{
  border-collapse: collapse;
}

div.orderbox{
  width: 50%;
  border-top: 2px solid #595959;
  border-bottom: 2px solid #595959;
  background-color: #f5f5f5;
  border-radius: 2px;
  position: relative;
  margin-bottom: 30px;
}

div.paybox{
  padding-top: 10px;
  width: 100%;
  text-align: center;
}


hr.line1{
  border-top: dotted  gray 2px;
}
hr.line2{
  border-top: solid  gray 2px;
}

div.payresult{
  text-align: center;
}


table.tablebox{
  margin-bottom: 35px;
  border-bottom: none;
}

div.detail{
  color: red;
  margin-bottom: 70px;
  margin-left: 60%;
  font-size: 7px;
}

div.ordertable{
  margin-bottom: 100px;
}
div.infobox{
  width: 45%;
  margin-right: 5%;
  position: relative;
}

div.customerbox{
  border: solid 1px #d6d6d6;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 2px;
}

div.customerbox2{
  border: solid 1px #d6d6d6;
  border-radius: 2px;
  background-color: #fff;
  line-height: 2.5;
  position: relative;
}

form.info{
  padding: 10px;
  display: block;
  position: relative;
}

div.product_data{
  padding:10px;
  margin-top:20px;
  border: solid 1px #d6d6d6;
}

div.pay_data{
  border: solid 1px #d6d6d6;
  margin-top:20px;
  padding:10px;
}

div.line{
  margin:20px;
}

input[type=checkbox]{
  width:15px;
  height:15px;
}

input[type=submit]{
  background:#ea9999ff;
  color:#ffffff;
  width:16em;
  height:4em;
  border:none;
}

th{
  text-align:left;
}
td{
  text-align:right;
}


/* ===================== complete -- 어지수 ====================*/
hr.dotted_line{
  width: 100%;
  border:none;
  border-top : dotted 2px #dbdbdb;
}

div.wrapping_complete{
  position: relative;
  width:50%;
  margin:60px auto;
}

div.order_data{
  background:#f5f5f5;
  padding: 5px;
  border-radius: 8px;
}

p.order_label{
  margin:10px auto;
}
