/* 곽승지 */
/* FAQ.blade.php 화면css */
/* myQnA.blade.php 화면 css */
/* 두 블레이드 파일과 동일 css 입니다. */

.frequently-qna{
width: 70%;

margin: 0 auto;
}
.frequently{
  position: relative;
  width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 30em;
}
.nav-page{
  margin-top: 60px;
  border-radius: solid 2px gray;
  text-align: center;
  vertical-align: middle;
    display: block;
}
nav{
  border: solid 1px gray;
display: inline-block;
width: 24px;
height: 24px;
border-radius: 2px;
color: gray;
}
.active{
  color: red;
  text-decoration: none;
}

table{
  border-collapse: collapse;
  width: 100%;

}
th{
  border: 1px solid pink;
  width: 20%;
 /* border-left: 0px;
 border-right: 0px; */

}
.user-QnA td{
  border: 1px solid pink;
  width: 20%;
  text-align: center;
}
/* FAQ.blade.phpcss 끝나는곳 */
.pagination {
display:inline-block;
margin-right:5px;
cursor:pointer;
}
