#all{
  margin:0 auto;
  border: 1px solid;
  width : 450px;
  border-radius: 25px;
  padding: 40px;
  background-color: #FFFFFF;
  border-style: hidden;
  text-align: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
body {
  background-color: #FFD8D8;
}
div.check{

}
hr{
  text-align: left;
}
