html, body{
  height: 100%;
}

div.allwrap{
  width: 100%;
  position: relative;
}

div.wrap0{
    width: 70%;
    position: relative;
    margin: 0 auto;
}

div.wrap1{
  position: relative;
  width: 100%;
  float: left;
}

h3.shopname{
  width: 80%;
  position: relative;
  display: inline-block;
}

button.btn1{
  position: relative;
}

button.btn2{
    position: relative;
    margin-left: 88%;
    margin-bottom: 30px;
}

div.wrap2{
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

div.imgbox{
    border: 1px solid;
    width: 200px;
    height: 200px;
    position: relative;
}

div.tablespace3{
  margin-bottom: 50px;
}

img.shopimg{
  width: 100%;
  height: 100%;
  /* margin-top: 3%; */
  position: relative;
  display: inline-block;
}

#shopinfo{
  width: 100%;
  position: relative;
  margin-left: 5%;
}
div.shopintro{
  width: 100%;
  height: 50%;
  position: relative;
}

#intro_content{
  width: 100%;
  position: relative;
  height: 100%;
}

#nadress{
  margin-left: 5%;
  margin-bottom: 50px;
}

div.wrap3{
    position:relative;
}

div.wrap4{
  position: relative;
  display: inline-block;
  width: 100%;
}

h3.productname{
    width: 80%;
    display: inline-block;
}

div.product{
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

div.wrap5{
  position: relative;
  display: inline-block;
  width: 100%;
}

div.wrap6{
  position: relative;
  display:inline-flex;
  width: 100%;
  margin-bottom: 50px;
}

div.wrap6-1{
  position: relative;
  display: inline-block;
}

div.wrap6-2{
  position: relative;
  display: inline-block;
}

div.wrap7-1{
  position: relative;
  display: inline-flex;
  width: 100%;
}

div.wrap7-2{
  border: 1px solid;
  height: 80%;
}

div.wrap8-1{
  position: relative;
  display: inline-block;
  border: 1px solid;
  width: 50%;
}

div.wrap8-2{
  position: relative;
  display: inline-block;
  border: 1px solid;
  width: 50%;
}

input.introduce{
  width: 100%;
  height: 95%;
}

div.delivery_wrap2{
  margin-left: 85px;
}

div.thcell{
  padding: 30px;
  border-right: 1px solid #e5e5e5;
  background: #f9f9f9;
  text-align: left;
  letter-spacing: -1px;
}

div.tdcell{
margin-left: 3%;
  }

div.btn{
  margin-left: 90%;
}

div.complete{
  margin-left: 50%;
}

#addressapi{
  width: 100%;
  height: 100%;
}

#introducemodi{
  width: 100%;
  height: 100%;
  border: 1px solid;
}
#content{
  width: 98%;
  height: 98%;
}

form.shop{
  margin-left: 5%;
  width: 30%;
}

#postcode{
  margin-left: 24px;
}

#complete1{
  margin-top: 1%;
  margin-left: 85px;
}

#modiaddress{
  margin-left: 30%;
}

#modiinfo{
  margin-top: 1%;
}
#tablewrap{
  width: 55%;
}

#ad{
  width: 100%;
}

table.adtable{
  width: 100%;
}

.image-in-container{
  border-top: 1px solid #d9d9d9;
}
.container-wrap{
width: 900px;
   position: relative;
   margin: auto;
   overflow: hidden;
}
.container-wrapping{
position: relative;
  width: 100%;
  margin: 0px auto;
  height: 600px;
  margin-top : 5%;
}

.container-image{
  float: left;
  width: 33.3%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

div.write-post{
  float:right;
}

.image{
width: 90%;
height: 90%;
float: left;
position: absolute;
border: 1px solid #d9d9d9;
border-radius: 10px;
box-shadow: 0 1px 3px 0 hsla(0,0%,86.3%,.3);
background-color: #f8f9fb;
}
.image-in{
 width: 100%;
 height: 100%;
-webkit-filter: brightness(100%);
cursor: pointer;
}
.image-in:hover{
  -webkit-filter: brightness(70%);
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
}
.imagewrap{
  width: 100%;
  height: 150px;
}
.imagewrap img{
border-top-right-radius:10px;
border-top-left-radius:10px;
width: 100%;
height: 100%;
}
.image-in-post{
width: 90%;
padding-top: 5px;
margin: 0 auto;
padding-bottom: 5px;
}
.image-in-bottom{
  position: relative;
width: 90%;
margin: 0 auto;
display: -webkit-box;
-webkit-line-clamp:1;
-webkit-box-orient: vertical;
height: 14px;
overflow: hidden;
text-overflow: ellipsis;
}
.image-in-star{
width: 90%;
margin: 0 auto;
padding: 6px 0px;
}

.image-in-font{
font-size: 12px;
overflow: hidden;
}


/* jQuery 평점 구문 */
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
 font-size:16px;
 letter-spacing:0;
 display:inline-block;
 color:#ccc;
 text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#ffc801;}

.page-item{
  display: inline-block;
  padding: 2px;
}
.pagination{
  text-align: center;
}
