/* 수정시 소현에게 */

#all{
  margin:0 auto;
  border: 1px solid;
  width : 450px;
  height: 700px;
  border-radius: 25px;
  padding: 40px;
  background-color: #FFFFFF;
  border-style: hidden;
  text-align: center;
}
body {
  background-color: #FFD8D8;
}
p{
  padding-bottom:5px;
  text-align: center;
}
.text{
  padding-bottom:30px;
}
hr{
  width: 450px;
  border-bottom: 0px;
  text-align: center;
}
h1{
  text-align: left;
}
.inf1{
  width:350px;
  height:30px;
  font-size:20px;
}
.inf2{
  width:250px;
  height:30px;
  font-size:20px;
}
td{
  padding-bottom: 5px;
}
.sign{
  align: right;
}
textarea{
  width: 400px;
  height: 150px;
  resize: none;
}
.checkbt{
  text-align: left;
  padding-bottom: 13px;
  font-size: 20px;
}
.box{
  text-align: center;
}
.checkbox{
  padding-bottom: 35px;
}
.mini{
  width: 15px;
  height: 15px;
}
.back{
  width:100px;
  height:40px;
  font-size:20px;
  background-color:#B2CCFF;
  text-align: center;
}
.submit{
  width:100px;
  height:40px;
  font-size:20px;
  background-color:#FFA7A7;
  text-align: center;
}
