.star_total{
  width: 60%;
  min-height: 35em;
  margin: 5em auto;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.mystars{
  margin-bottom: 5em;
}
h2{
  letter-spacing: 2px;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
table{
  width: 100%;
  border-spacing: 0;
}
#shopinfo{
  border-collapse: collapse;
}
#shopinfo2{
  border-collapse: collapse;
}
thead{
  background-color: #C8DBCD;
  border-bottom: none;
  color: #212121;
  opacity: 0.8;
}
th.th1{
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
td{
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  text-align: center;
}

div.th1{
  width: 100px;
  height: 100px;
  text-align: center;
}
.st_img{
  text-align: center;
}
.bt_ch{
  background-color: #476600;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 25px;
  text-align: center;
  font-size: 18px;
  opacity: 0.6;
  transition: 0.4s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Cafe24Oneprettynight';
}
.bt_ch:hover{
  opacity: 1
}
.myflw_remove{
  width: 20%;
  text-align: center;
}
.st_star_remove{
  width: 22%;
}
