a#title{
  margin:0;
  font-family: "바탕";
  font-size:40px;
  position : absolute;
  top:30%;
  left:3%;
  color: #fcfcfc;
}

div.topheader{
  height: 150px;
  background-color: #262626;
  position : relative;
  margin-bottom: 20px;
}

div.complte_message{
  margin-top:70px;
}

hr.title_line{
  width: 100%;
  border:none;
  border-top : solid 2px gray;
}

hr.dotted_line{
  width: 100%;
  border:none;
  border-top : dotted 2px #dbdbdb;
}

div.wrapping_complete{
  position: relative;
  width:50%;
  margin:auto;
}

div.product_info{
display: inline;
}

div.product_data{
  display: inline-block;
}
